* {
    --element-bg-color: #262A35;
    --element-br: 8px;
}

.Div>.CardGrid {
    padding: 0;
}

.text_bold {
    font-size: 14px;
    font-weight: bold;
}

.text_regular {
    font-weight: normal;
    font-size: 14px;
}

.text_tine {
    font-size: 12px;
    font-weight: 300;
}

.item__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.item__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imem__bg_img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(136, 136, 136, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.match-item {
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.match-item .left, .match-item .right, .match-item .center {
    z-index: 1;
}

.match-item .left, .match-item .right {
    display: flex;
    align-items: center;
    max-width: 40%;
    word-spacing: normal;
}

.match-item .right {
    flex-direction: row-reverse;
}

.match-item .match-item__info {
    font-size: 18px;
    font-weight: bold;
}

.match-item .name {
    font-size: 12px;
    font-weight: 300;
    margin: 0 8px;
    text-align: center;
}

.match-item_big {
    height: 200px;
    max-height: 100%;
}

.match-item_big .left, .match-item_big .right {
    flex-direction: column;
}

.tournament-item {
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tournament-item__info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.tournament-item_events .tournament-item__info {
    height: 60vw;
}

.tournament-item footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.tournament-item footer .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event {
    background: var(--element-bg-color);
    border-radius: var(--element-br);
    overflow: hidden;
}

.events-scroll {
    display: flex;
}

.events-scroll .event {
    width: 260px;
    height: 160px;
    background-color: none;
}

.events-grid {
    width: 100%;
    height: 60vw;
    display: grid;
    grid-template-areas: ". right" ". right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    grid-gap: 10px;
}

.events-grid .event.right {
    grid-area: right;
}

.events-list .event {
    margin-bottom: 16px;
}

.subs {
    padding: 0 8px;
    display: flex;
}

.subs>* {
    margin-right: 8px;
}

.profile-info .RichCell__in {
    justify-content: start;
}