* {
    --element-bg-color: #262A35;
    --element-br: 8px;
    --accent: #7B61FF;
    --background_content: #191A1F;
    --button_secondary_background: #262A35;
    --button_secondary_foreground: #7B61FF;
    --header_alternate_background: #191A1F;
    --header_text: #fff;
    --text_primary: #fff;
    --tabbar_active_icon: #7B61FF;
    --separator_common: #262A35;
}

.Div>.CardGrid {
    padding: 0;
}

.line-buttons {
    display: flex;
}

.line-buttons>* {
    margin: 0 4px;
}

.squar-button>* {
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-buttons .Button {
    background: linear-gradient(269.14deg, #B029A3 0%, #7B61FF 100%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PanelHeader__in {
    background-color: var(--background_content);
}

.item__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.item__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imem__bg_img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(136, 136, 136, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.match-item {
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.match-item .left, .match-item .right, .match-item .center {
    z-index: 1;
}

.match-item .left, .match-item .right {
    display: flex;
    align-items: center;
    max-width: 40%;
}

.match-item .right {
    flex-direction: row-reverse;
}

.match-item .name {
    font-size: 12px;
    font-weight: 300;
    margin: 8px;
    text-align: center;
}

.match-item_big {
    height: 200px;
    max-height: 100%;
}

.match-item_big .left, .match-item_big .right {
    flex-direction: column;
}

.tournament-item {
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tournament-item__info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.tournament-item_events .tournament-item__info {
    height: 60vw;
}

.tournament-item footer {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.event .tournament-item footer {
    padding: 8px;
}

.tournament-item footer .left {
    white-space: nowrap;
    text-overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event {
    background: var(--element-bg-color);
    border-radius: var(--element-br);
    overflow: hidden;
}

.events-scroll {
    display: flex;
}

.events-scroll .event {
    width: 260px;
    height: 160px;
    background-color: none;
}

.events-grid {
    width: 100%;
    height: 60vw;
    display: grid;
    grid-template-areas: ". right" ". right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    grid-gap: 10px;
}

.events-grid .event.right {
    grid-area: right;
}

.events-list .event {
    margin-bottom: 16px;
}

.subs {
    padding: 0 8px;
    display: flex;
}

.subs>* {
    margin-right: 8px;
}

.profile-info .RichCell__in {
    justify-content: start;
}

/* Match */

.match-header {
    height: 60vw;
    position: relative;
}

.match-header .match-item_big {
    height: 100%;
    padding: 0 18%;
}

.match-header .back {
    width: 60px;
    height: 60px;
    color: white;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

.match-event {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    align-items: center;
}

.match-event .RichCell {
    align-items: flex-start;
}

.match-event__user-info {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;
}

.match-event__user-info>*:last-child {
    opacity: 0.8;
    margin-left: 4px;
}